{
  "HOST_DEVICE_ID": "bbdcc104",
  "AMI_HOST": "x.x.x.x",
  "AMI_PORT": "5038",
  "AMI_USER": "dyncc-rx",
  "AMI_PASS": "", // Will check AMI_CONF_PATH if this is empty or not set in env
  "AMI_CONF_PATH": "/etc/asterisk/manager.conf",
  "DIAL_TIMEOUT": "10",
  "DIAL_RETRY": "3",
  "READ_TIMEOUT": "5",
  "NUMBER_OF_WORKERS": "50",
  "NUMBER_OF_JOBS": "60",
  "AMQP_URL": "amqp://user:pass@rabbitmqhost:rabbitmqport/",
  "AMQP_EXCHANGE_NAME": "amq.direct",
  "AMQP_EXCHANGE_TYPE": "direct"
}